
 @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root { 
    --primeira-cor:rgba(237, 161, 237, 0.583);
    --segunda-cor: rgb(95, 180, 95);

}

body {
    background-color: var(--bg-color);
    font-family: "Playwrite CU", cursive;
}

h1, h2, h3, h4, h5 {
    font-family: 'Monsterrat;

}
    